@import "variables";

// start to static header

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-image: linear-gradient(to right, #651212, #181818);
  }

.lang {
  button {
    background: transparent;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    i {
      font-size: 20px;
      @include dir-margin-right(10px);
      @media (max-width: $screen-md) {
        font-size: 18px;
      }
    }
    &::after {
      content: "\f078";
      top: 30%;
      @include dir-right(0);
      font-weight: 600;
      color: #fff;
      font-size: 11px;
      @include dir-margin-left(5px);
    }
  }
}

.nav-header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #651212;
    img {
      max-width: 90px;
      object-fit: cover;

      @media (max-width: $screen-xs) {
        max-width: 70px;
      }
    }

    span {
      font-size: 14px;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    @media (max-width: $screen-md) {
      position: fixed;
      padding: 20px 0;
      @include dir-left(0);
      top: 0;
      width: 200px;
      height: 100%;
      background-color: rgba(0, 0, 0, 70%);
      z-index: 4;
      flex-direction: column;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      #{$ltr} & {
        transform: translateX(-100%);
      }
      #{$rtl} & {
        transform: translateX(100%);
      }
      &.active {
        #{$ltr} & {
          transform: translateX(0);
        }
        #{$rtl} & {
          transform: translateX(0);
        }
      }
    }
    .link {
      display: block;
      font-size: 19px;
      color: #000;
      transition: 0.5s;
      @media (max-width: $screen-xl) {
        font-size: 17px;
      }
      @media (max-width: $screen-md) {
        font-size: 20px;
        color: #fff;
      }
      &.active,
      &:hover {
        color: #651212;
        @media (max-width: $screen-md) {
          color: #fff;
        }
      }
    }
    li:not(:last-child) {
      @include dir-margin-right(80px);
      @media (max-width: $screen-xx) {
        @include dir-margin-right(35px);
      }
      @media (max-width: $screen-xl) {
        @include dir-margin-right(20px);
      }
      @media (max-width: $screen-md) {
        margin-bottom: 35px;
        @include dir-margin-right(0px);
      }
    }
  }
  .left {
    @media (max-width: $screen-md) {
      display: flex;
      align-items: center;
    }
    .lang {
      display: none;
      @media (max-width: $screen-md) {
        display: block;
        background-image: linear-gradient(to right, #651212, #181818);
        padding: 7px 6px;
        border-radius: 10px;
      }
      span {
        @media (max-width: $screen-md) {
          display: none;
        }
      }
      button {
        &::after {
          display: none;
        }
      }
    }
    .sign-link {
      font-size: 14px;
      color: #fff;
      background-image: linear-gradient(to right, #651212, #181818);
      padding: 7px 10px;
      border-radius: 10px;
      @media (max-width: $screen-md) {
        padding: 3px 7px;
        font-size: 18px;
        @include dir-margin-left(10px);
      }
      span {
        @media (max-width: $screen-md) {
          display: none;
        }
      }
      i {
        display: none;
        @media (max-width: $screen-md) {
          display: block;
        }
      }

      img {
        margin-inline-end: 7px;
        @media (max-width: $screen-md) {
          margin-inline-end: 0;
        }
      }
    }
  }
}

.nav-btn {
  background: transparent;
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  @include dir-margin-left(15px);
  padding: 0;
  @media (max-width: $screen-md) {
    display: block;
  }
  span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-image: linear-gradient(to right, #651212, #181818);
    transition: 0.5s;
    left: 0;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }
  &.active span:first-child {
    top: 50%;
    transform: rotate(45deg);
    transition: 0.5s;
  }
  &.active span:nth-child(2) {
    #{$ltr} & {
      transform: translateX(-150%);
    }
    #{$rtl} & {
      transform: translateX(150%);
    }
    opacity: 0;
  }
  &.active span:last-child {
    top: 50%;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
}

.nav-overlay {
  @media (max-width: $screen-md) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
    #{$ltr} & {
      transform: translateX(100%);
    }
    #{$rtl} & {
      transform: translateX(-100%);
    }
    @include dir-right(0);
    &.show {
      #{$ltr} & {
        transform: translateX(0);
      }
      #{$rtl} & {
        transform: translateX(0);
      }
    }
  }
}

.main-banner {
  position: relative;
  background-color: #691111;
  padding: 10px 0;
  .banner-text {
    @media (max-width: $screen-xs) {
      text-align: center;
    }
    .disc {
      font-size: 19px;
      color: #fff;
      margin: 20px 0;
      font-weight: 600;
      @media (max-width: $screen-xs) {
        font-size: 15px;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
  }

  .banner-links {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    border: 2px solid #d55a43;
    border-radius: 20px;
    padding: 5px 11px;
    font-size: 15px;
    @media (max-width: $screen-xs) {
      font-size: 13px;
      gap: 10px;
      margin-top: 7px;
    }
    a {
      color: #fff;
      i {
        margin-inline-start: 7px;
      }
    }
  }

  h1 {
    text-align: start;
    font-size: 60px;
    font-weight: bolder;
    @media (max-width: $screen-xs) {
      font-size: 40px;
    }
  }

  .printers {
    color: #d55a43;
    margin-bottom: 0;
    text-shadow: 0 1px 0px #fff, 1px 0 0px #fff, 1px 2px 1px #fff,
      2px 1px 1px #fff, 2px 3px 2px #fff, 3px 2px 2px #fff;
    @media (max-width: $screen-xs) {
      text-align: center;
    }
  }
  .head-curve {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -29px;
    z-index: 1;
    @media (max-width: $screen-xs) {
      object-fit: contain;
      bottom: -20px;
    }
  }
}

.inner-banner {
  position: relative;
}

.banner-info {
  width: 350px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0 35px;
  max-width: 100%;
  font-size: 18px;
  padding: 50px 0;
  @media (max-width: $screen-xs) {
    font-size: 15px;
  }
}

.dir-img {
  text-align: end;
  @media (max-width: $screen-xs) {
    text-align: center;
  }
}

.banner-img {
  max-width: 100%;
  height: 240px;
  object-fit: cover;
  @media (max-width: $screen-xs) {
    height: 180px;
  }
}

.pricing-bg {
  position: absolute;
  top: -20px;
  height: 335px;
  object-fit: cover;

  @media (max-width: $screen-xxl) {
    height: 300px;
  }

  &.right {
    right: 0;
    @media (max-width: $screen-xs) {
      display: none;
    }
  }

  &.left {
    left: 0;
    transform: rotate(180deg);
    @media (max-width: $screen-xs) {
      display: none;
    }
  }
}

.header-right,
.header-left {
  position: absolute;
  bottom: 30px;
  height: 100px;
  @media (max-width: $screen-xs) {
    bottom: 20px;
    height: 50px;
  }
}

.header-right {
  right: 0;
}
.header-left {
  left: 0;
}

.service-section {
  background-color: #f2f2f2;
  position: relative;
}

.about-bg {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}



// body {
//     background-color: #F2F2F2;
// }



.hexagone {
  clip-path: polygon(
    45% 1.33975%,
    46.5798% 0.60307%,
    48.26352% 0.15192%,
    50% 0%,
    51.73648% 0.15192%,
    53.4202% 0.60307%,
    55% 1.33975%,
    89.64102% 21.33975%,
    91.06889% 22.33956%,
    92.30146% 23.57212%,
    93.30127% 25%,
    94.03794% 26.5798%,
    94.48909% 28.26352%,
    94.64102% 30%,
    94.64102% 70%,
    94.48909% 71.73648%,
    94.03794% 73.4202%,
    93.30127% 75%,
    92.30146% 76.42788%,
    91.06889% 77.66044%,
    89.64102% 78.66025%,
    55% 98.66025%,
    53.4202% 99.39693%,
    51.73648% 99.84808%,
    50% 100%,
    48.26352% 99.84808%,
    46.5798% 99.39693%,
    45% 98.66025%,
    10.35898% 78.66025%,
    8.93111% 77.66044%,
    7.69854% 76.42788%,
    6.69873% 75%,
    5.96206% 73.4202%,
    5.51091% 71.73648%,
    5.35898% 70%,
    5.35898% 30%,
    5.51091% 28.26352%,
    5.96206% 26.5798%,
    6.69873% 25%,
    7.69854% 23.57212%,
    8.93111% 22.33956%,
    10.35898% 21.33975%
  );
  background-image: linear-gradient(to right, #651212, #181818);
  padding: 30px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
//   flex-shrink: 0;
//   width: 100%;
  .item {
    width: calc(100% - 15px);
    img {
        max-width: 35px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        color: #fff;
        position: relative;
        &::before {
            content: '';
            left: 50%;
            transform: translateX(-50%);
            width: 40px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: -15px;
        }
    }
  }
}

.inner-service {
    position: relative;
    z-index: 3;
    transform: translateY(-50px);
}

.copy-right {
  padding: 15px 0;
  background-image: linear-gradient(to right, #651212, #181818);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $screen-xs) {
      flex-direction: column;
    }
  }
  .right,
  .left {
    font-size: 16px;
    color: #fff;
  }
  .right {
    @media (max-width: $screen-xs) {
      margin-bottom: 10px;
    }
  }
}

.footer-section {
  background-color: #231f20;
  padding: 50px 0;
  .img-footer {
    @media (max-width: $screen-md) {
      text-align: center;
    }
  }
  .footer-logo {
    display: block;
    @media (max-width: $screen-md) {
      margin-bottom: 35px;
    }
    img {
      width: 115px;
      height: 220px;
      object-fit: cover;
    }
  }
  .links {
    @media (max-width: $screen-md) {
      //   display: none;
    }
    .link {
      transition: 0.5s;
      &:hover {
        #{$ltr} & {
          transform: translateX(15px);
        }
        #{$rtl} & {
          transform: translateX(-15px);
        }
      }
    }
  }
  .foot-title {
    font-size: 24px;
    color: #f26523;
    transition: 0.5s;
    margin-bottom: 30px;
    position: relative;
    @media (max-width: $screen-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::after {
        content: "\f078";
        display: inline-block;
        font-weight: 900;
        font-size: 16px;
        transition: 0.5s;
      }
      &.active::after {
        transform: rotate(180deg);
      }
    }
  }
  .link {
    display: block;
    margin-bottom: 20px;
    color: #fff;
  }
}
